<mat-card>
  <div class="center">
    <b>Moje terminy:</b>&nbsp;&nbsp;
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" [(ngModel)]="filter.date"
             placeholder="Termin wizyty">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
  <mat-accordion *ngIf="doctorDto!=undefined" class="example-headers-align">
    <mat-expansion-panel *ngFor="let visit of doctorDto.visitList" hideToggle>
        <mat-expansion-panel-header *ngIf="visit.dateTimeVisit.toLocaleDateString() === filter.date.toLocaleDateString()">
          <mat-panel-title>
            {{visit.dateTimeVisit.toLocaleString()}}
          </mat-panel-title>
          <mat-panel-description *ngIf="!visit.isCanceledByDoctor && visit.isAppointed
                      && !(visit.dateTimeVisit <= nowDate)">
            Umówiony &nbsp;&nbsp;
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
          <mat-panel-description *ngIf="!visit.isCanceledByDoctor && visit.isAppointed
                      && (visit.dateTimeVisit <= nowDate)">
            Umówiony (po wizycie) &nbsp;&nbsp;
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
          <mat-panel-description *ngIf="visit.isCanceledByDoctor && visit.isAppointed">
            Umówiony (wizyta odwołana przeze mnie) &nbsp;&nbsp;
            <mat-icon class="material-icons-error">highlight_off</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--poczatek wnetrza-->
        <div *ngIf="visit.isAppointed">
          <div class="leftCon">
            <h2>Informacje o pacjencie:</h2>
            <mat-icon>account_circle</mat-icon>&nbsp;
            <span>{{visit.patient.firstName}} {{visit.patient.lastName}}</span><br><br>
            <mat-icon> call</mat-icon>&nbsp;
            <span>{{visit.patient.phoneNumber}}</span><br><br>
            <mat-icon> email</mat-icon>&nbsp;
            <span>{{visit.patient.email}}</span><br><br>
          </div>
          <div class="centerCon">
            <br><br>
            <button mat-raised-button color="primary" [disabled]="visit.isCanceledByDoctor || (visit.dateTimeVisit <= nowDate)"
                    (click)="cancelDoctorVisit(visit.id)" >Odwołaj wizytę</button>
          </div>
        </div>
      <div *ngIf="!visit.isAppointed">
        <div class="centerCon">
          <button mat-raised-button color="primary" [disabled]="visit.dateTimeVisit <= nowDate" (click)="deleteDoctorVisit(visit.id)">Usuń termin</button>
        </div>
      </div>
      <!--koniec wnetrza-->
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>




