<div class="addOpinion">
  <h1 mat-dialog-title>Wystaw opinię</h1>
  <form #addOperationForm="ngForm">
    <span *ngFor="let item of starList; let i=index " (click)="setStar(i)">
      <mat-icon *ngIf="item">star_border</mat-icon>
      <mat-icon *ngIf="!item">star</mat-icon>
    </span>
    <br><br>
    <mat-form-field>
      <input placeholder="Opis" name="opinion" type="text" maxlength="200" matInput [(ngModel)]="opinionForm.opinion"
             required>
    </mat-form-field>
    <button mat-button (click)="cancel()">Anuluj</button>
    <button mat-button [disabled]="!addOperationForm.valid" (click)="addOpinion()">Dodaj opinię</button>
  </form>
</div>
