<mat-card class="center">
  <mat-card-title>Moje dane</mat-card-title>
  <mat-tab-group mat-align-tabs="center">
    <!--1 zakładka-->
    <mat-tab label="Moje dane"><br>
      <div class="stepperPatient">
        <mat-card-content>
          <form *ngIf="patientDto!=undefined" class="form-inline" #formPatient="ngForm" (ngSubmit)="updatePatient()">
            <ng-template>Dane osobowe</ng-template>
            <br>
            <mat-form-field>
              <input matInput type="text" id="firstNamePatient" placeholder="Imię" name="firstName"
                     [(ngModel)]="patientDto.firstName" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput type="text" id="lastNamePatient" placeholder="Nazwisko" name="lastName"
                     [(ngModel)]="patientDto.lastName" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput type="text" id="emailPatient" placeholder="Adres email" name="email"
                     pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
                     [(ngModel)]="patientDto.email" required [disabled]="true">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput type="text" id="phonePatient" placeholder="Numer telefonu" name="phone"
                     pattern="[0-9]{9}"
                     [(ngModel)]="patientDto.phoneNumber" required>
            </mat-form-field>
            <br>
            <br>
            <div>
              <button [disabled]="!formPatient.valid" mat-button>Zapisz zmiany</button>
            </div>
          </form>
        </mat-card-content>
      </div>
    </mat-tab>

    <!--2 zakładka-->
    <mat-tab label="Zmiana hasła"><br>
      <div class="stepper">
        <mat-card-content>
          <form #form="ngForm" (ngSubmit)="changePassword()">
            <mat-form-field>
              <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Stare hasło"
                     name="oldPassword"
                     [(ngModel)]="password.oldPassword" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br><br>
            <mat-form-field>
              <input matInput [type]="hide1 ? 'password' : 'text'" class="form-control" placeholder="Nowe hasło"
                     name="password"
                     [(ngModel)]="password.password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br><br>
            <mat-form-field>
              <input matInput [type]="hide2 ? 'password' : 'text'" class="form-control" placeholder="Powtórz nowe hasło"
                     name="confirmPassword"
                     [(ngModel)]="password.confirmPassword" required>
              <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br><br>
            <button mat-raised-button [disabled]="!form.valid" type="submit">Zmien hasło</button>
          </form>
        </mat-card-content>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
