<mat-card class="center">
  <br><br><br><br>
  <mat-card-title>Znajdź lekarza i umów się na wizytę</mat-card-title>
  <mat-card-content>
    <form class="form-inline" #formPatient="ngForm" (ngSubmit)="searchDoctors()">
      <div class="leftContainer">
        <br><br>
        <mat-form-field>
          <mat-select placeholder="Specjalizacja" name="specialization" [(ngModel)]="searchDoctor.specialization"
                      required>
            <mat-option *ngFor="let specialization of specializationList" [value]="specialization">
              {{specialization.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput type="text" id="city" placeholder="Miejscowość" [(ngModel)]="searchDoctor.city" name="city"
                 required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" class="btn btn-primary" [disabled]="!formPatient.valid">
          Znajdź lekarza
        </button>
      </div>
    </form>
  </mat-card-content>
  <br><br>
</mat-card>


