<mat-sidenav-container class="sidenav-container" style="min-height: 560px;">

  <mat-toolbar color="primary">
    <div *ngIf="securityService.isAuthenticated()" style="width: 90%;">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">Strona główna</button>
        <button *ngIf="securityService.isAuthenticatedPatient()" mat-menu-item routerLink="/patient/visit-list">Moje wizyty</button>
        <button *ngIf="securityService.isAuthenticatedPatient()" mat-menu-item routerLink="/patient/account">Moje dane</button>
        <button *ngIf="securityService.isAuthenticatedDoctor()" mat-menu-item routerLink="/doctor/visit-list">Moje terminy</button>
        <button *ngIf="securityService.isAuthenticatedDoctor()" mat-menu-item routerLink="/doctor/account">Moje dane</button>
        <button mat-menu-item (click)="logout()" routerLink="/home">Wyloguj</button>
      </mat-menu>
      <button type="button" mat-button routerLink="/home">
        <span>ZnanyLekarz</span>
      </button>
    </div>
    <div *ngIf="securityService.isAuthenticated()" style="text-align: left">
      <button  *ngIf="securityService.isAuthenticatedDoctor()" type="button" mat-button>
        <span>Zalogowano jako: {{securityService.getFullName()}} (Lekarz)</span>
      </button>
      <button *ngIf="securityService.isAuthenticatedPatient()" type="button" mat-button>
        <span >Zalogowano jako: {{securityService.getFullName()}} (Pacjent)</span>
      </button>
      <button type="button" mat-icon-button (click)="logout()" routerLink="/login">
        <mat-icon aria-label="logout">logout</mat-icon>
      </button>
    </div>

    <div *ngIf="!securityService.isAuthenticated()" style="width: 93%;">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">Strona główna</button>
      </mat-menu>
      <button type="button" mat-button routerLink="/home">
        <span>ZnanyLekarz</span>
      </button>
    </div>
    <div *ngIf="!securityService.isAuthenticated()">
      <button type="button" mat-button routerLink="/register">
        <span>Zarejestruj się</span>
      </button>
      <button type="button" mat-button routerLink="/login">
        <span>Zaloguj się</span>
      </button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>


